{%include "head.html"%}
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">

                            <div class="card" style="width: 18rem; margin-bottom: 40px;">
                                <div class="card-body">
                                    <h5 class="card-title" style="padding-left: 45px;">Q-{{int(index) + 1}}
                                        <a href="{{url_for('edit_quiz_question', id=quiz_database[int(index)].id, index=int(index))}}"><i class="fa-solid fa-pen-to-square fa-1x" style="margin-left: 20px;"></i></a>
                                    </h5>
                                    <p class="card-text" style="color: #497174;">{{quiz_database[int(index)].formatted_quiz}}</p><br>
                                    {%for a in quiz_database[int(index)].multiple_answers.split("@ ")%}

                                    <a class="btn btn-primary" href="{{url_for('verify', user=a, index=int(index), quiz=quiz_database, id=id)}}" style="color: #497174; margin-bottom: 30px; background-color: #D6E4E5">{{a}}</a><br>
                                    {%endfor%}

                                </div>
                            </div>

             </div>
        </header>



        <!-- Footer-->
{%include "footer.html"%}
